<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>{{ site.title }}</title>
        
        {{ fn('wp_head') }}
    </head>
    <body {{ fn('body_class') }}>

        {% block content %}{% endblock %}
        
        {{ fn('wp_footer') }}
    </body>
</html>